// Variables
$black: #0e0f11;
$grey: #8f959b;
$white: #ffffff;
$bg-grey: #f3f7fb;
$bg-red: #f0574d33;
$bg-blue: #2557f6;

// Base Styles
body {
  font-family: "SF UI Display", sans-serif;
  background-color: $bg-grey;
  color: $black;
  text-align: center;
  margin: 48px auto;
  padding: 0;
}

// Header Styles
.header {
  margin: 0 auto;
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #c3c8cf;
    text-transform: uppercase;
    margin: 0;
  }

  &__title {
    margin: 24px auto 48px;
  }
}

// Tariffs Grid
.tariffs {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
}

// Tariff Base Styles
.tariff {
  border-radius: 24px;
  padding: 32px 12px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 24px;
  background-color: $white;

  &__header {
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    margin: 20px 0 8px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: $grey;
    margin: 0;
  }

  &__pricing {
    padding: 32px 24px 24px;
    background-color: $bg-grey;
    border-radius: 20px;
  }

  &__features {
    padding: 0 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        padding-left: 24px;
        text-align: left;
        display: flex;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background-image: url("./Images/list_marker.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__button {
    border-radius: 16px;
    margin: 24px auto 0;
    background-color: $black;
    color: $white;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  &--consultation,
  &--credit {
    border: none;
  }

  &--credit {
    position: relative;

    .tariff__badge--installment {
      background-color: $bg-red;
      border-radius: 1000px;
      padding: 8px 12px;
      display: inline-flex;
      gap: 8px;
      align-items: center;
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }

  .tariff-card__info {
    background-color: #2557f6;
    border-radius: 16px;
    padding: 32px 24px 24px;
    &-left {
      background: #5b82ff;
    }
  }

  &__price {
    margin: 0;
  }

  .tariff-card__icon-wrapper {
    color: #2557f6;
  }
}

// Tariff Card Styles
.tariff-card {
  padding: 32px 12px;
  &--basic {
    position: relative;
    border-radius: 24px;
    border: 4px solid transparent;
    border-image: linear-gradient(#e0b330, #fbee88, #e0b330) 1;

    .tariff-card__badge--best {
      background: linear-gradient(#fff289, #d2a41d);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 6px 12px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      color: $white;
    }
  }

  &__pricing {
    background-color: $bg-grey;
    border-radius: 20px;

    &-details {
      background: linear-gradient(#e0b330, #fbee88, #e0b330);
      border-radius: 16px;
      padding: 32px 24px 24px;
      color: $white;

      h2,
      h5 {
        margin: 0;
      }
    }
  }

  &__features {
    padding: 0 20px;
    ul {
      list-style: none;
      padding: 0;

      li {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        padding-left: 24px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background-image: url("./Images/list_marker.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__close {
    background: linear-gradient(#e0b330, #fbee88, #e0b330);
    border-radius: 16px;
    margin: 8px 0 0;
  }

  &__info {
    padding: 12.5px 16px 7.5px 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
    width: auto;
    height: 72px;
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background: linear-gradient(180deg, #fbee88 0%, #e0b330 100%);
      border-radius: 7px;
      transform: rotate(-24deg);
    }
  }

  &__amount {
    font-size: 11.73px;
    font-weight: 700;
    line-height: 14.97px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $white;
    margin-bottom: 23px;
    margin-top: 0;
    text-decoration: line-through;
  }

  &__status {
    font-size: 27.33px;
    font-weight: 700;
    line-height: 34.88px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $white;
    margin: 0;
  }

  &__info-center {
    font-size: 27.33px;
    font-weight: 700;
    line-height: 34.88px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $white;
    p {
      margin: 0;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff99;
    width: 28px;
    height: 20px;
    border-radius: 50%;
    color: #e0b330;
    cursor: pointer;
    position: relative;
    .tariff-card-tooltip {
      display: none;
      position: absolute;
      top: 32px;
      left: -50px;
      transform: translateX(-50%);
      color: $white;
      padding: 8px 12px;
      border-radius: 10px;
      font-size: 12px;
      white-space: nowrap;
      z-index: 10;
      background-color: $black;
      width: 320px;
      height: auto;

      &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $black transparent;
      }
    }

    &:hover .tariff-card-tooltip {
      // display: block;
    }
  }
}

.tariff--credit {
  .tariff__pricing {
    padding-bottom: 8px;
  }
  .tariff-card__close {
    background: transparent;
  }
}

// Responsive Styles
@media (max-width: 1024px) {
  .tariff-card__badge--best {
    left: 40%;
  }
}

@media (max-width: 744px) {
  .tariff-card__badge--best {
    left: 24px;
  }

  .tariffs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  }

  .tariff-card--basic {
    grid-row-start: 1;
  }

  .tariff--credit {
    grid-row-start: 2;
  }
}

@media (max-width: 375px) {
  .tariff-card__badge--best {
    left: 30%;
  }
}
